@use 'global' as *;

.about {
    margin-top: rem(80);

    @include mq(md) {
        margin-top: rem(140);
        position: relative;
    }
}

.about__contents {
    margin-top: rem(50);

    @include mq(md) {
        margin-top: rem(120);
        position: relative;

    }
}

// イソギンチャクの絵
.about__contents::after {
    @include mq(md) {
        background-image: url(../images/common/pc-about-coral.png);
        content: "";
        width: rem(194);
        height: rem(181);
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        z-index: 999;
        right: -8%;
        bottom: -12%;
    }
}

.about__contents-wrapper {
    width: inherit;

    @include mq(md) {
        position: relative;
    }
}

.about__imgs {
    position: relative;
}

.about__img-box--big {
    margin-left: auto;
    width: 83.88%;
    // width: rem(281);
    position: relative;
    display: block;

    @include mq(md) {
        width: rem(880);
    }
}

.about__img-box--big::after {
    background-image: url(../images/common/sp-about-2.jpg);
        content: "";
        width: 47.0%;
        // height: 104.3%;
        aspect-ratio: 132 / 194;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        z-index: 999;
        left: -15%;
        top: -10%;
    @include mq(md) {
        background-image: url(../images/common/pc-about-2.jpg);
        content: "";
        width: 45.4%;
        // height: 104.1%;
        aspect-ratio: 399 / 606;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        z-index: 9;
        left: -15%;
        top: -15%;
    }
}

// アスペクト比
.about__img-box--big::before {
    content: "";
    display: block;
    padding-top: 66.19%;
}

.about__img-box--big img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.about__img-box--small {
    width: rem(132);
    position: relative;
    // position: absolute;
    display: block;
    top: -14%;
    left: 0;

    @include mq(md) {
        width: rem(399);
    }
}

// アスペクト比
.about__img-box--small::before {
    content: "";
    display: block;
    padding-top: 146.96%;
}

.about__img-box--small img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.about__body {
    @include mq(md) {
        z-index: 99;
        // 中の要素を横並び
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 3.7%;
        // 中央配置
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        // height: 100%;
        transform: translate(-50%, -50%);
    }
}

.about__body-title {
    font-family: $base-font-family;
    font-size: rem(40);
    line-height: 1;
    color: $green;
    margin-top: rem(40);
    font-weight: $normal;

    @include mq(md) {
        color: $white;
        width: 37.03%;
        margin-top: 0;
        font-size: rem(80);
        line-height: calc(100 / 80);
    }
}

.about__details {
    @include mq(md) {
        width: 37.03%;
    }

}

.about__body-text {
    font-family: $second-font-family;
    font-size: rem(16);
    line-height: calc(24 / 16);
    color: $green-3;
    margin-top: rem(16);

    @include mq(md) {
        color: $white;
        margin-top: 0;

    }
}

.about__btn-box {
    margin-top: rem(40);
}