@use 'global' as *;

.campaign{
    width: 100%;
    margin-top: rem(40);
    @include mq(md){
        margin-top:rem(120)
    }
}

// .campaign__inner{
//     padding-left: rem(15);
//     @include mq(md){
//         padding-left:0;
//     }
// }

.campaign__contents{
    margin-top: rem(24);
    padding-left: rem(15);
    @include mq(md){
        margin-top: rem(40);
        padding-left: rem(180);
    }
}

.campaign__swiper{
    padding-bottom: rem(40);
    @include mq(md){
        padding-bottom: rem(80);
    }
}

// .campaign__btn-box{
//     margin-top: rem(40);
//     @include mq(md){
//         margin-top: rem(80);
//     }
// }