@use 'global' as *;

.campaign{
    width: 100%;
    margin-top: rem(37);
    @include mq(md){
        margin-top:rem(121)
    }
}


.campaign__inner{
    position: relative;
}



.campaign__contents{
    width: 100%;
    margin-top: rem(27);
    // padding-left: rem(15);
    // position: relative;
   
    @include mq(md){
        margin-top: rem(40);
        // padding-left: rem(180);
    }
}

.campaign__contents-wrapper{
    padding-left: rem(15);

    @include mq(md){
        // padding-left: rem(180);
        max-width: 88.5%;
        margin-left: auto;
    }
}

.campaign__swiper-slide{
    padding-bottom: rem(40);
    @include mq(md){
        padding-bottom: rem(80);
    }
}