@use 'global' as *;

.contact{
    width: 100%;
    margin-top: rem(80);
}

.contact__contents{
    width: 100%;
}

.contact-logo__box a{
    margin: 0 auto;
    display: block;
    width: 52.4%;
}

.contact-logo__box{
    margin: 0 auto;
    width: 88.05%;
    display: block;
    padding-bottom: rem(6);
    border-bottom: 1px solid $green;
}

.contact__address,
.contact__tel,
.contact__business-hour,
.contact__closed{
    font-family: $second-font-family;
    font-size: rem(16);
    line-height: 1;
    color: $green-3;
    text-align: center;
}

.contact__address{
    margin-top: rem(16);
}

.contact__tel,
.contact__business-hour,
.contact__closed{
    margin-top: rem(4);
}

// google map
// .contact__map{
//     position: relative;
//     width: 100%;
//     max-width: rem(600);
//     padding-top: 54.23%;

// }


// .contact__map iframe{
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
// }

.contact__map{
    position: relative;
    width: 100%;
    max-width: rem(600);
    margin-top: rem(16);
}

.contact__map::before{
    content: "";
    display: block;
    padding-top: 54.23%;
}

.contact__map iframe{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
    object-fit: cover;
}

.contact__contact{
    width: 100%;
    margin-top: rem(40);
}

.contact__header--en.section-header--en{
    font-size: rem(80);
    line-height: 1;
}

.contact__header--ja.section-header--ja{
    margin-top: rem(8);
}

.contact__text{
    margin-top: rem(8);
    font-family: $second-font-family;
    font-size: rem(14);
    line-height: calc(18 / 14);
    color: $green;
    text-align: center;
}

.contact__btn-box{
    margin-top: rem(40);
}














