@use 'global' as *;

.footer{
    width: 100%;
    max-width: 100%;
    background-color: $green;
    padding: rem(48) 0 rem(56) 0;
    margin-top: rem(104);
    @include mq(md){
        padding: rem(80) 0;
        margin-top: rem(160);
    }
}

.footer__inner{
    // padding: 0 rem(26) 0 rem(39);
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    @include mq(md){
        // max-width: 100%;
        // padding: 0 rem(252) 0 rem(202);
        padding: 0 rem(252) 0 rem(180);
        // margin: 0 auto;
    }
}

.footer__info{
    padding-left: rem(15);
    padding-right: rem(15);

    @include mq(md){
        display: flex;
        justify-content: flex-start;
        gap: rem(40);
        padding-left: 0;
        padding-right: 0;
    }
}

.footer-logo__link{
    display: block;
        width:35%;
        @include mq(md){
            width: rem(200);
        }
}

.footer__icons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: rem(18.25);
    margin-top: rem(16);
    @include mq(md){
        margin-top: rem(27);
    }
}

.footer__icons a{
    width: rem(23);
    @include mq(md){
        width: rem(30);
    }
}

.footer-sp-nav.inner{
    margin-top: rem(25);
    // padding-left: 0;
    // padding-right: 0;
    padding: 0 rem(26) 0 rem(39);
    @include mq(md){
        margin-top: rem(6);
        padding-left: 0;
        padding-right: 0;
    }
}

.footer-sp-nav__item a{
    opacity: 1;
}

.footer-sp-nav__item a:hover{
    opacity: .7;
}


.footer-sp-nav__inner{
    @include mq(md){
        padding-left: rem(23);
        padding-right: rem(23);
    }
}

.footer__copyright{
    margin-top: rem(10);
    @include mq(md){
        margin-top: rem(55);
    }
}

.footer__copyright-text{
    display: block;
    font-family: $base-font-family;
    font-size: rem(12);
    color: $white;
    font-weight: $normal;
    text-align: center;
    @include mq(md){
        font-size: rem(14);
        line-height: 1.2857;
    }
}

.sp-only{
    display: block;
    @include mq(md){
      display: none;
    }
  }
