@use 'global' as *;

.header{
    width: 100%;
    max-width: 100%;
    height: rem(80);
    // background-color: $green;
    // 後でtransparentにすること
    background-color: rgb(13, 41, 54, 0.68);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    @include mq(md){
        height: rem(90);
    }
}

.header__inner{
    width: inherit;
    padding: 0 rem(15);
    height: inherit;
    @include mq(md){
        padding: 0 rem(40);
    }
}

.header__contents{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo__box{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(102);
    z-index: 999;
    @include mq(md){
        width: rem(133);
    }
}

.header-logo__box a{
    cursor: pointer;
    height: inherit;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo__box img{
    width: 100%;
    max-width: 100%;
}

.header__drawer{
    z-index: 999;
    display: block;
    width: rem(32);
    @include mq(md){
        display: none;
    }
}

// pc navはsp時に非表示
.header-pc__nav{
    display: none;
    @include mq(md){
        display: block;
        height: inherit;
    }
}

// .header-sp-nav__inner{
//     padding: 0 rem(37) 0 rem(33);
// }

.header-sp-nav__wrapper{
    margin-top: rem(-18);
    @include mq(md){
        margin-top: 0;
    }
}

.header-sp-nav{
    position: absolute;
    height: 100vh;
    top: 0;
    // 隠す
    left: 120%;
     //animation
     transition: .3s ease;
     overflow: scroll;
     padding-top: rem(104);
     background-color: $green;
    //  試しに
     margin-left: auto;
    margin-right: auto;
    padding-left: 37px;
    padding-right: 37px;
}

.header-sp-nav.is-active{
    // display: block;
    left: 0;
    @include mq(md){
                 display: none;
             }
}

// sp時のnav itemsの位置調整
.header-sp-nav__items-1{
    @include mq(md){
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 34.29%;
        width: 41.98%;
    }
}

.header-sp-nav__items-2{
    @include mq(md){
        width: 41.37%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 34.2%;
    }
}

.header-sp-nav__items-1-2{
    margin-top: rem(-1);
    @include mq(md){
        margin-top: 0;
    }
}

.header-sp-nav__items-2-2{
    margin-top: rem(12);
    @include mq(md){
        margin-top: 0;
    }
}












