@use 'global' as *;

.mv {
    width: 100%;
    max-width: 100%;
    height: 100%;
    // height: 100vh;
    position: relative;
    @include mq(md){
        height: auto;
    }
}

.mv__inner{
    height: inherit;
}

.mv__text-box {
    position: absolute;
    top: 50%;
    left: 52.5%;
    transform: translate(-50%, -50%);
    z-index: 99;
    @include mq(md){
        top: 55.5%;
        left: 51.5%;
    }
}

.mv__title {
    font-family: $fourth-font-family;
    color: $white;
    font-size: rem(40);
    letter-spacing: 0.53em;
    line-height: 1;
    font-weight: $normal;
    @include mq(md) {
        font-size: rem(80);
        letter-spacing: 0.52em;
    }
}

.mv__text {
    font-family: $base-font-family;
    color: $white;
    font-size: rem(19);
    letter-spacing: 0.1em;
    line-height: 1;
    font-weight: $normal;
    white-space: nowrap;
    text-align: center;
    margin-top: rem(13);
    @include mq(md){
        font-size: rem(20);
    }
}

// アスペクト比
.mv-swiper__img {
    position: relative;
    display: block;
}

.mv-swiper__img::before {
    content: "";
    display: block;
    padding-top: 177.9%;

    @include mq(md) {
        padding-top: 53.33%;
    }
}

.mv-swiper__img img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}