@use 'global' as *;

.price{
    width: 100%;
    margin-top: rem(80);
    padding: rem(80) 0 rem(81);
    background-color: $green-2;
    @include mq(md){
        margin-top: rem(144);
        padding: rem(100) 0 rem(106) 0;
        position: relative;
    }
}

.price__inner {
    padding: 0 rem(15);
    margin-right: auto;
    margin-left: auto;

    @include mq(md) {
        max-width: $inner + strip-unit($padding-pc) * 2;
        padding-right: $padding-pc;
        padding-left: $padding-pc;
    }
}


.price__contents{
    margin-top: rem(24);
    width: 100%;
    max-width: rem(600);

    margin-left: auto;
    margin-right: auto;
    @include mq(md){
        max-width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: rem(40);
        // margin-top: rem(36);
    }
}

// 魚の絵
.price::before{
    @include mq(md){
        position: absolute;
        content: "";
        background-image: url(../images/common/price-fish.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: rem(437);
        height: rem(201);
        bottom: 5.5%;
        left: 7.0%;
    }
}


.price__body{
    width: 100%;
    max-width: rem(600);
    @include mq(md){
        width: 45.55%;
        max-width: 45.55%;
    }
}

.price__box{
    margin-top: rem(39);
    width: 100%;
    max-width: rem(600);
}

.price__box:first-child{
    margin-top: rem(45);
    // margin-top: rem(40);
    @include mq(md){
        margin-top: 0;
    }
}



.price__items,
.price__item{
    width: 100%;
    max-width: rem(600);
}

.price__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: rem(9.9);

}

.price__title{
    padding-bottom: rem(3);
    border-bottom: 1px solid $green;

    font-family: $second-font-family;
    font-size: rem(16);
    font-weight: $bold;
    color: $green-3;
}

.price__menu,
.price__price{
    font-family: $second-font-family;
    font-size: rem(14);
    font-weight: $normal;
    color: $green-3;
    line-height: 1.6;
    @include mq(md){
        font-size: rem(16);
        line-height: 1.4;
    }
}

.price__btn-box{
    margin-top: rem(40);
    @include mq(md){
        margin-top: rem(21);
    }
}

// アスペクト比
.price__img-box{
    width: 100%;
    max-width: rem(600);
    position: relative;
    display: block;
    @include mq(md){
        width: 45.55%;
        max-width: 45.55%;
    }
}

.price__img-box::before{
    content: "";
    display: block;
    padding-top: 64.79%;
    // padding-top: 65.79%;
    @include mq(md){
        padding-top: 151.62%;
    }
}

.price__img-box img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
    object-fit: cover;

    display: block;
}

// 画像アニメーション
.price__img-box div.color{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #10404c;
}

// inviewを使用したアニメーション
.js-inview{
    position: relative;
    width: 80%;
    margin: 30px auto 30px;

    opacity: 0;
    visibility: hidden;
    transform: translateX(80px);
    transition: opacity 1s,visibility 1s, transform 1s;
}

.js-inview.is-inview{
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    // z-index: 2;
    background-color: #10404c;

    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
}

.js-inview img{
    display: block;
    width: 100%;
}

// .mask_wrap{
//     display: table;
//     overflow: hidden;
//   }
//   .mask-wrap .js-inview{
//     display: table;
//     position: relative;
//     margin-bottom: .25em;
//     left: -100%;
//     overflow: hidden;
//   }
//   .mask-wrap .mask-bg{
//     display: block;
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     background: #000;
//   }


