@use 'global' as *;

.page-top-btn__box a {
    width: rem(48);
    height: rem(48);
    position: absolute;
    bottom: rem(-88);
    right: rem(15);
    transform: rotate(-90deg);

    @include mq(md) {
        bottom: rem(-145);
        right: rem(20);
    }
}