@use 'global' as *;

.pc-nav__items{
    height: inherit;
    display: flex;
}

.pc-nav__item,
.pc-nav__item a{
    height: inherit;
}

.pc-nav__item a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 rem(20);
}

.pc-nav__item--paddingLeft-cut a{
    padding-left: 0;
}

.pc-nav__item--paddingRight-cut a{
    padding-right: 0;
}

.pc-nav__item-link{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pc-nav__item span{
    display: block;
}

.pc-nav__item--en{
    font-family: $base-font-family;
    font-size: rem(18);
    color: $white;
    line-height: 1;
    font-weight: $normal;
}

.pc-nav__item--ja{
    white-space: nowrap;
    font-family: $second-font-family;
    font-size: rem(10);
    color: $white;
    line-height: 1;
    font-weight: $normal;
    margin-top: rem(5);
    position: relative;
}

// ホバー時の下線
.pc-nav__item--ja::after{
    position: absolute;
    content: "";
    width: 0;
    height: rem(1);
    background-color: $white;
    top: rem(13);
    left: 0;
    transition: .3s;
}

.pc-nav__item a:hover .pc-nav__item--ja::after{
    width: 100%;

}
