@use 'global' as *;

.price__cards{
    display: flex;
}

.price-card{
    width: rem(280);
    display: flex;
    flex-direction: column;
    background-color: $white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

// アスペクト比
.price-card__img{
    position: relative;
    display: block;
}

.price-card__img::before{
    content: "";
    display: block;
    padding-top: 67.14%;
}

.price-card__img img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
    object-fit: cover;
}

.price-card__category-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(10);
    margin-bottom: auto;
}

.price-card__body{
    padding: rem(24) 0 rem(24) 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.price-card__body-inner{
    padding: 0 rem(16);
}

.price-card__category{
    width: rem(108);
}

.price-card__title{
    padding-bottom: rem(14);
    border-bottom: 1px solid $green;
    margin-top: rem(14);
}

.price-card__text{
    font-family: $second-font-family;
    font-size: rem(14);
    font-weight: $normal;
    color: $green-3;
    line-height: 1;
    margin-top: rem(16);
    text-align: center;
}

.price-card__usual-price span{
    font-family: $fourth-font-family;
    font-size: rem(20);
    font-weight: $bold;
    color: $green-3;
    line-height: 1;
    // 赤い線の起点
    position: relative;
}

// 赤い線
.price-card__usual-price span::after{
    position: absolute;
    content: "";
    width: rem(76);
    height: rem(3);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: $red;
}

.price-card__campaign-price{
    font-family: $fourth-font-family;
    font-size: rem(32);
    font-weight: $bold;
    color: $green;
    line-height: 1;
}

.price-card__info{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: rem(16);
    margin-top: rem(8);
}

