@use 'global' as *;

.sp-nav {
    width: 100%;
    // height: 100vh;
    // background-color: $green;
    z-index: 99;
}


.sp-nav__wrapper {
    justify-content: space-between;
    display: grid;
    grid-template-columns: 7.125rem 8rem;
    gap: rem(29);
    @include mq(md) {
        grid-template-columns: 43.04% 44.80%;
        gap: 15%;
        // grid-template-columns: rem(414) rem(430);
        // gap: rem(151);
    }
}
// .sp-nav__wrapper {
//     display: flex;
//     justify-content: space-between;
//     // justify-content: center;
//     align-items: flex-start;

//     // gap: rem(25);
//     @include mq(md) {
//         justify-content: initial;
//         gap: 17%;
//     }
// }

// pc時のnav itemsの位置調整
.sp-nav__items-1{
    @include mq(md){
        display: flex;
        justify-content: flex-end;
        // justify-content: center;
        align-items: flex-start;
        gap: 34.29%;
        width: 100%;
    }
}

.sp-nav__items-2{
    @include mq(md){
        width: 96.3%;
        display: flex;
        justify-content: flex-start;
        // justify-content: center;
        align-items: flex-start;
        gap: 34.2%;
    }
}

.sp-nav__items-1-2{
    margin-top: rem(-1);
    @include mq(md){
        margin-top: 0;
    }
}

.sp-nav__items-2-2{
    margin-top: rem(12);
    @include mq(md){
        margin-top: 0;
    }
}

.sp-nav__item {
    display: block;
    font-family: $second-font-family;
    font-size: rem(16);
    color: $white;
    font-weight: $normal;
    white-space: nowrap;
}

// item間の余白
.sp-nav__item a {
    display: block;
    padding: rem(8) 0;
    // padding: rem(12) 0;
}

.sp-nav__item--bold.sp-nav__item--padding-wide a {
    padding: rem(18) 0 rem(18) 0;
}

.sp-nav__item.sp-nav__item--pb-wide a {
    padding: rem(8) 0 rem(18) 0;
}

.sp-nav__item.sp-nav__item--paddingtb-25 a {
    padding: rem(25) 0;
}

.sp-nav__item.sp-nav__item--paddingtb-25-7 a {
    padding: rem(25) 0;
    @include mq(md){
        padding: rem(7) 0;
    }
}

.sp-nav__item.sp-nav__item--paddingtb-27 a {
    @include mq(md){
        padding: rem(27) 0;
    }
}

// クラゲマーク疑似要素（standard:top19 Ver.）
.sp-nav__item--starfish a {
    display: block;
    position: relative;
}

.sp-nav__item--starfish a::before {
    position: absolute;
    content: "";
    background-image: url(../images/common/sp-starfish.png);
    top: rem(19);
    left: rem(-23);
    width: rem(18);
    height: rem(18);
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 999;
}

// クラゲマーク疑似要素（top27 Ver.）
.sp-nav__item--starfish11 a {
    display: block;
    position: relative;
}

.sp-nav__item--starfish11 a::before {
    position: absolute;
    content: "";
    background-image: url(../images/common/sp-starfish.png);
    top: rem(11);
    left: rem(-23);
    width: rem(18);
    height: rem(18);
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 999;
}

// 太字のitem
.sp-nav__item--bold a {
    font-weight: $bold;
    padding: rem(14) 0;
    // padding: rem(20) 0;
}