@use 'global' as *;

.sp-nav{
    width: 100%;
    // height: 100vh;
    // background-color: $green;
    z-index: 99;
}

.sp-nav__wrapper{
    display: flex;
    justify-content: space-between;
    // justify-content: center;
    align-items: flex-start;
    // gap: rem(25);
    @include mq(md){
        // gap: rem(142);
    }
}

.sp-nav__item{
    display: block;
    font-family: $second-font-family;
    font-size: rem(16);
    color: $white;
    font-weight: $normal;
}

// item間の余白
.sp-nav__item a{
    display: block;
    padding: rem(12) 0;
}

// クラゲマーク疑似要素
.sp-nav__item--starfish a{
    display: block;
    position: relative;
}

.sp-nav__item--starfish a::before{
    position: absolute;
    content:url(../images/common/sp-starfish.png);
    top: rem(23);
    left: rem(-23);
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 999;
}

// 太字のitem
.sp-nav__item--bold a{
    font-weight: $bold;
    padding: rem(20) 0;
}
