@use 'global' as *;


.swiper-button-next.swiper-campaign-button-next {
    background-image: url(../images/common/pc-campaign-arrow-right.png);
    content: "";
    width: rem(80);
    height: rem(80);
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
    position: absolute;

    @include mq(xl) {
        display: block;
        right: 0;
        top: 0;
        left:82%;
        top: 3%;
    }

    @include mq(lg) {
        display: block;
        right: 0;
        top: 0;
        left:84%;
        top: 3%;
    }


    @include mq(md) {
        display: block;
        right: 0;
        top: 0;
        left:87%;
        top: 3%;
    }



}

.swiper-button-prev.swiper-campaign-button-prev {
    background-image: url(../images/common/pc-campaign-arrow-left.png);
    content: "";
    width: rem(80);
    height: rem(80);
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
    position: absolute;

    @include mq(md) {
        display: block;
        left: 70.9%;
        top: 3%;
    }
}